


*,
::before,
::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* 1 */
	border-width: 0;
	/* 2 */
	border-style: solid;
	/* 2 */
	border-color: #e5e7eb;
	/* 2 */
}

::before,
::after {
	--tw-content: "";
}


body {
	margin: 0;
	/* 1 */
	line-height: inherit;
	/* 2 */
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit, 微軟正黑體;
}

a {
	color: inherit;
	text-decoration: inherit;
}

b,
strong {
	font-weight: bolder;
}


blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
	margin: 0;
}

fieldset {
	margin: 0;
	padding: 0;
}

legend {
	padding: 0;
}

ol,
ul,
menu {
	list-style: none;
	margin: 0;
	padding: 0;
}



img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	/* 1 */
	vertical-align: middle;
	/* 2 */
}

img,
video {
	max-width: 100%;
	height: auto;
}


[hidden] {
	display: none;
}

.container {
	width: 100%;
}

@media (min-width: 100%) {
	.container {
		max-width: 100%;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.pointer-events-none {
	pointer-events: none;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.static {
	position: static;
}

.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
}

.inset-0 {
	inset: 0px;
}

.inset-y-0 {
	top: 0px;
	bottom: 0px;
}

.-bottom-16 {
	bottom: -4rem;
}

.-bottom-\[14px\] {
	bottom: -14px;
}

.-left-5 {
	left: -1.25rem;
}

.-left-\[999px\] {
	left: -999px;
}

.-right-2 {
	right: -0.5rem;
}

.-right-3 {
	right: -0.75rem;
}

.-right-\[999px\] {
	right: -999px;
}

.-top-2 {
	top: -0.5rem;
}

.-top-3 {
	top: -0.75rem;
}

.bottom-10 {
	bottom: 2.5rem;
}

.bottom-8 {
	bottom: 2rem;
}

.bottom-\[-25px\] {
	bottom: -25px;
}

.left-0 {
	left: 0px;
}

.left-2 {
	left: 0.5rem;
}

.left-2\.5 {
	left: 0.625rem;
}

.left-4 {
	left: 1rem;
}

.left-full {
	left: 100%;
}

.right-0 {
	right: 0px;
}

.right-4 {
	right: 1rem;
}

.right-5 {
	right: 1.25rem;
}

.right-\[50px\] {
	right: 50px;
}

.top-0 {
	top: 0px;
}

.top-14 {
	top: 3.5rem;
}

.top-4 {
	top: 1rem;
}

.top-5 {
	top: 1.25rem;
}

.top-\[13px\] {
	top: 13px;
}

.-z-\[1\] {
	z-index: -1;
}

.z-10 {
	z-index: 10;
}

.z-30 {
	z-index: 30;
}

.z-40 {
	z-index: 40;
}

.z-\[1\] {
	z-index: 1;
}

.z-\[2\] {
	z-index: 2;
}

.z-\[4\] {
	z-index: 4;
}

.z-\[5\] {
	z-index: 5;
}

.order-1 {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	order: 1;
}

.order-2 {
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	order: 2;
}

.col-span-1 {
	grid-column: span 1 / span 1;
}

.col-span-12 {
	grid-column: span 12 / span 12;
}

.col-span-2 {
	grid-column: span 2 / span 2;
}

.col-span-3 {
	grid-column: span 3 / span 3;
}

.col-span-4 {
	grid-column: span 4 / span 4;
}

.col-span-6 {
	grid-column: span 6 / span 6;
}

.col-span-8 {
	grid-column: span 8 / span 8;
}

.m-2 {
	margin: 0.5rem;
}

.m-5 {
	margin: 1.25rem;
}

.mx-2 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.mx-2\.5 {
	margin-left: 0.625rem;
	margin-right: 0.625rem;
}

.mx-5 {
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.my-10 {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.my-16 {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.my-18 {
	margin-top: 8rem;
	margin-bottom: 8rem;
}

.my-2 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.my-3 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.my-4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.my-5 {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.my-6 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.my-7 {
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
}

.my-8 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.mb-10 {
	margin-bottom: 2.5rem;
}

.mb-16 {
	margin-bottom: 4rem;
}

.mb-18 {
	margin-bottom: 8rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.mb-2\.5 {
	margin-bottom: 0.625rem;
}

.mb-3 {
	margin-bottom: 0.75rem;
}

.mb-4 {
	margin-bottom: 1rem;
}

.mb-5 {
	margin-bottom: 1.25rem;
}

.mb-6 {
	margin-bottom: 1.5rem;
}

.mb-8 {
	margin-bottom: 2rem;
}

.ml-2 {
	margin-left: 0.5rem;
}

.ml-5 {
	margin-left: 1.25rem;
}

.ml-auto {
	margin-left: auto;
}

.mr-1 {
	margin-right: 0.25rem;
}

.mr-4 {
	margin-right: 1rem;
}

.mr-5 {
	margin-right: 1.25rem;
}

.mr-8 {
	margin-right: 2rem;
}

.mr-auto {
	margin-right: auto;
}

.mt-1 {
	margin-top: 0.25rem;
}

.mt-10 {
	margin-top: 2.5rem;
}

.mt-16 {
	margin-top: 4rem;
}

.mt-2 {
	margin-top: 0.5rem;
}

.mt-3 {
	margin-top: 0.75rem;
}

.mt-4 {
	margin-top: 1rem;
}

.mt-5 {
	margin-top: 1.25rem;
}

.mt-6 {
	margin-top: 1.5rem;
}

.mt-7 {
	margin-top: 1.75rem;
}

.mt-8 {
	margin-top: 2rem;
}

.mt-auto {
	margin-top: auto;
}

.line-clamp-1 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.line-clamp-2 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.line-clamp-3 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

.table {
	display: table;
}

.grid {
	display: grid;
}

.hidden {
	display: none;
}

.h-13 {
	height: 2.3rem;
}

@media (min-width: 576px) {
	.h-13 {
		height: 3rem;
	}
}

@media (min-width: 1200px) {
	.h-13 {
		height: 4rem;
	}
}

.h-10 {
	height: 2.5rem;
}

.h-12 {
	height: 3rem;
}

.h-14 {
	height: 3.5rem;
}

.h-16 {
	height: 4rem;
}

.h-2 {
	height: 0.5rem;
}

.h-20 {
	height: 5rem;
}

.h-28 {
	height: 7rem;
}

.h-3 {
	height: 0.75rem;
}

.h-4 {
	height: 1rem;
}

.h-5 {
	height: 1.25rem;
}

.h-50 {
	height: 50px;
}

.h-6 {
	height: 1.5rem;
}

.h-60 {
	height: 15rem;
}

.h-7 {
	height: 1.75rem;
}

.h-8 {
	height: 2rem;
}

.h-9 {
	height: 2.25rem;
}

.h-\[100px\] {
	height: 100px;
}

.h-\[110px\] {
	height: 110px;
}

.h-\[170px\] {
	height: 170px;
}

.h-\[254px\] {
	height: 254px;
}

.h-\[270px\] {
	height: 270px;
}

.h-\[30px\] {
	height: 30px;
}

.h-\[50px\] {
	height: 50px;
}

.h-\[5px\] {
	height: 5px;
}

.h-\[80px\] {
	height: 80px;
}

.h-auto {
	height: auto;
}

.h-fit {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

.h-full {
	height: 100%;
}

.h-screen {
	height: 100vh;
}

.max-h-\[200px\] {
	max-height: 200px;
}

.max-h-\[280px\] {
	max-height: 280px;
}

.max-h-\[300px\] {
	max-height: 300px;
}

.max-h-\[400px\] {
	max-height: 400px;
}

.max-h-\[410px\] {
	max-height: 410px;
}

.max-h-\[500px\] {
	max-height: 500px;
}

.min-h-\[130px\] {
	min-height: 130px;
}

.w-0 {
	width: 0px;
}

.w-1\/2 {
	width: 50%;
}

.w-80 {
	width: 80%;
}

.w-85 {
	width: 85%;
}

.w-90 {
	width: 90%;
}

.w-1\/4 {
	width: 25%;
}

.w-10 {
	width: 2.5rem;
}

.w-12 {
	width: 3rem;
}

.w-14 {
	width: 3.5rem;
}

.w-16 {
	width: 4rem;
}

.w-2 {
	width: 0.5rem;
}

.w-20 {
	width: 5rem;
}

.w-28 {
	width: 7rem;
}

.w-3 {
	width: 0.75rem;
}

.w-4 {
	width: 1rem;
}

.w-4\/5 {
	width: 80%;
}

.w-5 {
	width: 1.25rem;
}

.w-52 {
	width: 13rem;
}

.w-6 {
	width: 1.5rem;
}

.w-7 {
	width: 1.75rem;
}

.w-8 {
	width: 2rem;
}

.w-9 {
	width: 2.25rem;
}

.w-\[1000px\] {
	width: 1000px;
}

.w-\[100px\] {
	width: 100px;
}

.w-\[110px\] {
	width: 110px;
}

.w-\[25\%\] {
	width: 25%;
}

.w-\[270px\] {
	width: 270px;
}

.w-\[288px\] {
	width: 288px;
}

.w-\[30\%\] {
	width: 30%;
}

.w-\[30px\] {
	width: 30px;
}

.w-\[400px\] {
	width: 400px;
}

.w-\[45\%\] {
	width: 45%;
}

.w-\[500px\] {
	width: 500px;
}

.w-\[50px\] {
	width: 50px;
}

.w-\[590px\] {
	width: 590px;
}

.w-\[65\%\] {
	width: 65%;
}

.w-\[700px\] {
	width: 700px;
}

.w-\[800px\] {
	width: 800px;
}

.w-\[80px\] {
	width: 80px;
}

.w-\[85\%\] {
	width: 85%;
}

.w-fit {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.w-full {
	width: 100%;
}

.w-max {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}

.w-screen {
	width: 100vw;
}

.min-w-\[100px\] {
	min-width: 100px;
}

.min-w-\[16px\] {
	min-width: 16px;
}

.min-w-\[20px\] {
	min-width: 20px;
}

.min-w-\[250px\] {
	min-width: 250px;
}

.min-w-\[28px\] {
	min-width: 28px;
}

.min-w-\[30px\] {
	min-width: 30px;
}

.min-w-\[40px\] {
	min-width: 40px;
}

.min-w-\[56px\] {
	min-width: 56px;
}

.min-w-\[80px\] {
	min-width: 80px;
}

.min-w-max {
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
}

.max-w-\[590px\] {
	max-width: 590px;
}

.max-w-\[600px\] {
	max-width: 600px;
}

.max-w-\[80px\] {
	max-width: 80px;
}

.max-w-\[90\%\] {
	max-width: 90%;
}

.flex-1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 0%;
	flex: 1 1 0%;
}

.flex-auto {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
}

.origin-\[0\] {
	-webkit-transform-origin: 0;
	-o-transform-origin: 0;
	transform-origin: 0;
}

.m-auto{
	margin: auto;
}

.animate-rotate {
	-webkit-animation: 2.3s infinite linear rotate;
	animation: 2.3s infinite linear rotate;
}

@-webkit-keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.animate-spin {
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

.cursor-pointer {
	cursor: pointer;
}

.select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.resize-none {
	resize: none;
}

.resize {
	resize: both;
}

.appearance-none {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.grid-cols-12 {
	grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-6 {
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-8 {
	grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
	grid-template-columns: repeat(9, minmax(0, 1fr));
}

.flex-col {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.flex-wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.items-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.justify-end {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.justify-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.justify-between {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.gap-1 {
	gap: 0.25rem;
}

.gap-10 {
	gap: 2.5rem;
}

.gap-2 {
	gap: 0.5rem;
}

.gap-3 {
	gap: 0.75rem;
}

.gap-4 {
	gap: 1rem;
}

.gap-5 {
	gap: 1.25rem;
}

.gap-6 {
	gap: 1.5rem;
}

.gap-7 {
	gap: 1.75rem;
}

.gap-8 {
	gap: 2rem;
}

.gap-x-20 {
	-webkit-column-gap: 5rem;
	-moz-column-gap: 5rem;
	column-gap: 5rem;
}

.gap-x-5 {
	-webkit-column-gap: 1.25rem;
	-moz-column-gap: 1.25rem;
	column-gap: 1.25rem;
}

.gap-y-10 {
	row-gap: 2.5rem;
}

.gap-y-5 {
	row-gap: 1.25rem;
}

.gap-y-7 {
	row-gap: 1.75rem;
}


.p-1 {
	padding: 0.25rem;
}

.p-10 {
	padding: 2.5rem;
}

.p-2 {
	padding: 0.5rem;
}

.p-3 {
	padding: 0.75rem;
}

.p-4 {
	padding: 1rem;
}

.p-5 {
	padding: 1.25rem;
}

.p-6 {
	padding: 1.5rem;
}

.p-\[14px\] {
	padding: 14px;
}

.p-\[3px\] {
	padding: 3px;
}

.p-\[5px\] {
	padding: 5px;
}

.p-\[9px\] {
	padding: 9px;
}

.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.pl-2 {
	padding-right: 0.5rem;
}

.px-2\.5 {
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}

.px-20 {
	padding-left: 5rem;
	padding-right: 5rem;
}

.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.px-5 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.px-\[10px\] {
	padding-left: 10px;
	padding-right: 10px;
}

.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.py-5 {
	padding-top: 1.25rem;
	padding-bottom:  1.25rem;
}

.py-10 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}


.py-12 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}


.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.py-5 {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.py-7 {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
}

.py-\[14px\] {
	padding-top: 14px;
	padding-bottom: 14px;
}

.py-px {
	padding-top: 1px;
	padding-bottom: 1px;
}

.pb-10 {
	padding-bottom: 2.5rem;
}

.pb-2 {
	padding-bottom: 0.5rem;
}

.pb-2\.5 {
	padding-bottom: 0.625rem;
}

.pb-3 {
	padding-bottom: 0.75rem;
}

.pb-5 {
	padding-bottom: 1.25rem;
}

.pb-6 {
	padding-bottom: 1.5rem;
}


.pb-16 {
	padding-bottom: 4.5rem;
}

.pb-20 {
	padding-bottom: 8rem;
}

.pl-2 {
	padding-left: 0.5rem;
}

.pl-2\.5 {
	padding-left: 0.625rem;
}

.pl-4 {
	padding-left: 1rem;
}

.pl-\[10px\] {
	padding-left: 10px;
}

.pr-10 {
	padding-right: 2.5rem;
}

.pr-4 {
	padding-right: 1rem;
}

.pr-5 {
	padding-right: 1.25rem;
}

.pr-\[50px\] {
	padding-right: 50px;
}

.pt-2 {
	padding-top: 0.5rem;
}

.pt-4 {
	padding-top: 1rem;
}

.pt-5 {
	padding-top: 1.25rem;
}

.pt-6 {
	padding-top: 1.5rem;
}

.pt-8 {
	padding-top: 2rem;
}

.pt-10 {
	padding-top: 2.5rem;
}


.py-6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.text-center {
	text-align: center;
}

.text-start {
	text-align: start;
}

.text-end {
	text-align: end;
}

.font-montserrat {
	font-family: Montserrat, 微軟正黑體, sans-serif, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}

.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}

.text-5xl {
	font-size: 3rem;
	line-height: 1;
}

.text-8xl {
	font-size: 6rem;
	line-height: 1;
}

.text-base {
	font-size: 1rem;
	line-height: 1.5rem;
}

.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.text-lg {
	font-size: 1rem;
	line-height: 1.55rem;
}

.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}

.font-bold {
	font-weight: 700;
}

.font-light {
	font-weight: 300;
}

.font-medium {
	font-weight: 500;
}

.font-semibold {
	font-weight: 600;
}



@media (min-width: 400px) {
	.xs\:col-span-6 {
		grid-column: span 6 / span 6;
	}

	.xs\:block {
		display: block;
	}
}

@media (min-width: 640px) {
	.sm\:right-\[-10px\] {
		right: -10px;
	}

	.sm\:top-\[-10px\] {
		top: -10px;
	}

	.sm\:col-span-1 {
		grid-column: span 1 / span 1;
	}

	.sm\:col-span-2 {
		grid-column: span 2 / span 2;
	}

	.sm\:col-span-3 {
		grid-column: span 3 / span 3;
	}

	.sm\:col-span-4 {
		grid-column: span 4 / span 4;
	}

	.sm\:col-span-6 {
		grid-column: span 6 / span 6;
	}

	.sm\:ml-auto {
		margin-left: auto;
	}

	.sm\:block {
		display: block;
	}

	.sm\:flex {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
	}

	.sm\:h-36 {
		height: 9rem;
	}

	.sm\:w-36 {
		width: 9rem;
	}

	.sm\:flex-row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		flex-direction: row;
	}

	.sm\:items-center {
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.sm\:rounded-lg {
		border-radius: 0.5rem;
	}

	.sm\:bg-primary-500 {
		--tw-bg-opacity: 1;
		background-color: rgb(63 94 223 / var(--tw-bg-opacity));
	}

	.sm\:px-8 {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.sm\:text-white {
		--tw-text-opacity: 1;
		color: rgb(255 255 255 / var(--tw-text-opacity));
	}

	.sm\:hover\:bg-primary-400:hover {
		--tw-bg-opacity: 1;
		background-color: rgb(102 128 229 / var(--tw-bg-opacity));
	}
}

@media (min-width: 768px) {
	.md\:col-span-4 {
		grid-column: span 4 / span 4;
	}

	.md\:col-span-3 {
		grid-column: span 3 / span 3;
	}

	.md\:flex {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
	}

	.md\:h-80 {
		height: 20rem;
	}

	.md\:w-40 {
		width: 40%;
	}

	.md\:w-80 {
		width: 80%;
	}

	.md\:w-90 {
		width: 90%;
	}

	.md\pb-5 {
		padding-bottom: 1.25rem;
	}
	

	.md\:py-10 {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
	

	.md\:py-12 {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.md\:py-16 {
		padding-top: 5rem;
		padding-bottom: 4rem;
	}

	.md\:order-2{
		order: 2;
	}

	.md\:order-1{
		order: 1;
	}
}

@media (min-width: 1024px) {
	.lg\:right-\[-10px\] {
		right: -10px;
	}

	.lg\:top-\[-10px\] {
		top: -10px;
	}

	.lg\:order-1 {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		order: 1;
	}

	.lg\:order-2 {
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		order: 2;
	}

	.lg\:col-span-1 {
		grid-column: span 1 / span 1;
	}

	.lg\:col-span-2 {
		grid-column: span 2 / span 2;
	}

	.lg\:col-span-3 {
		grid-column: span 3 / span 3;
	}

	.lg\:col-span-4 {
		grid-column: span 4 / span 4;
	}

	.lg\:col-span-5 {
		grid-column: span 5 / span 5;
	}

	.lg\:col-span-6 {
		grid-column: span 6 / span 6;
	}

	.lg\:col-span-7 {
		grid-column: span 7 / span 7;
	}

	.lg\:col-span-8 {
		grid-column: span 8 / span 8;
	}

	.lg\:mr-0 {
		margin-right: 0px;
	}

	.lg\:mr-10 {
		margin-right: 2.5rem;
	}

	.lg\:block {
		display: block;
	}

	.lg\:flex {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
	}

	.lg\:hidden {
		display: none;
	}

	.lg\:h-96 {
		height: 24rem;
	}

	.lg\:h-full {
		height: 100%;
	}

	.lg\:w-\[50px\] {
		width: 50px;
	}

	.lg\:flex-row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		flex-direction: row;
	}

	.lg\:flex-col {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		flex-direction: column;
	}

	.lg\:items-start {
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}

	.lg\:justify-between {
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	.lg\:gap-0 {
		gap: 0px;
	}

	.lg\:rounded-lg {
		border-radius: 0.5rem;
	}

	.lg\:bg-primary-500 {
		--tw-bg-opacity: 1;
		background-color: rgb(63 94 223 / var(--tw-bg-opacity));
	}

	.lg\:p-0 {
		padding: 0px;
	}

	.lg\:pr-10 {
		padding-right: 2.5rem;
	}

	.lg\:text-sm {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.lg\:text-white {
		--tw-text-opacity: 1;
		color: rgb(255 255 255 / var(--tw-text-opacity));
	}

	.lg\:after\:absolute::after {
		content: var(--tw-content);
		position: absolute;
	}

	.lg\:after\:right-0::after {
		content: var(--tw-content);
		right: 0px;
	}

	.lg\:after\:h-10::after {
		content: var(--tw-content);
		height: 2.5rem;
	}

	.lg\:after\:w-\[2px\]::after {
		content: var(--tw-content);
		width: 2px;
	}

	.lg\:after\:bg-primary-300::after {
		content: var(--tw-content);
		--tw-bg-opacity: 1;
		background-color: rgb(141 160 236 / var(--tw-bg-opacity));
	}

	.lg\:after\:content-\[\'\'\]::after {
		--tw-content: "";
		content: var(--tw-content);
	}

	.lg\:hover\:bg-primary-400:hover {
		--tw-bg-opacity: 1;
		background-color: rgb(102 128 229 / var(--tw-bg-opacity));
	}

	.lg\:w-80{
		width: 80%;
	}
}

@media (min-width: 1280px) {
	.xl\:col-span-1 {
		grid-column: span 1 / span 1;
	}

	.xl\:col-span-2 {
		grid-column: span 2 / span 2;
	}

	.xl\:col-span-3 {
		grid-column: span 3 / span 3;
	}

	.xl\:flex {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
	}

	.xl\:grid {
		display: grid;
	}

	.xl\:hidden {
		display: none;
	}

	.xl\:h-\[130px\] {
		height: 130px;
	}

	.xl\:w-\[130px\] {
		width: 130px;
	}

	.xl\:pt-20 {
		padding-top: 5rem;
	}

	.xl\:pb-10 {
		padding-bottom: 2.5rem;
	}
	
	.xl\:w-25 {
		width: 25%;
	}

	.xl\:w-100 {
		width: 100%;
	}

	.xl\:min-w-\[130px\] {
		min-width: 130px;
	}

	.xl\:flex-row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		flex-direction: row;
	}

	.xl\:items-center {
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.xl\:px-4 {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.xl\:after\:block::after {
		content: var(--tw-content);
		display: block;
	}
}

